.header{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(../../images/header.jpg);
    background-position: center;
    background-size: cover;
}
.header h1{
    font-size: 32px;
    font-weight: 600;
}
.header p{
    font-size: 16px;
    line-height: 21px;
}
.header__container{
    max-width: 880px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.header__container-search{
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.header__container-search span{
    font-size: 14px;
    color: rgb(105, 104, 104);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header__container-search span i{
    font-size: 19px;
}
.header__container-search form{
    width: 65%;
    display: flex;
    align-items: center;
}
#search{
    font-size: 20px;
}
.header__container-search input{
    padding: 5px 10px;
    width: 85%;
    font-size: 16px;
    border: none;
    outline: none;
}
.options{
    position: relative;
}
#options-flotante{
    position: absolute;
    width: 140px;
    top: 130%;
    right: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(3, 3, 3, 0.4);
    display: none;
}
#options-flotante ul{
    width: 140px;
    background-color: rgb(37, 37, 65);
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
    padding: 3px 0 3px 9px;
}
#options-flotante ul li{
    padding: 11px 10px;
    display: flex;
    color: rgb(221, 217, 217);
    gap: 8px;
}
#options-flotante ul li span{
    color: rgb(221, 217, 217);
}
@media screen and (min-width: 500px){
    .header__container-search div{
        width: 80%;
    }
}
@media screen and (min-width: 900px){
    .header h1{
        font-size: 40px;
    }
    .header p{
        font-size: 18px;
    }
    .header__container-search p{
        font-size: 16px;
    }
    .header__container-search p i{
        font-size: 20px;
    }
    #options-flotante{
        left: 10%;
    }
}